<div class="container">
    <div class="cursor-box pointer">pointer</div>
    <div class="cursor-box help">help</div>
    <div class="cursor-box wait">wait</div>
    <div class="cursor-box crosshair">crosshair</div>
    <div class="cursor-box text">text</div>
    <div class="cursor-box not-allowed">not-allowed</div>
    <div class="cursor-box grab">grab</div>
    <div class="cursor-box zoom-in">zoom-in</div>
    <div class="cursor-box cell">cell</div>
    <div class="cursor-box copy">copy</div>
    <div class="cursor-box move">move</div>
    <div class="cursor-box alias">alias</div>
</div>